.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  width: 55%;

  @include tablets {
    display: none;
  }
}

.header__buttons {
  @include phones {
    display: none;
  }
}
.burger-menu{
  display: none;  
  position: absolute;
  top: 60px;
  right: 30px;
  fill: #212327;
  z-index: 9999;
  width: 30px;
  height: 30px;

  @include phones {
    display: block;
  }
}