.menu {
  &--color-white {
    color: #fff;
  }
}

.menu__list {
  display: flex;
  justify-content: center;
}

.menu__item {

  margin-right: 8%;
  border-bottom:2px solid transparent;
  &:hover{
    color: #5500F2;
    border-bottom:2px solid #5500F2;
  }

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  white-space: nowrap;
}